@tailwind base;
@tailwind components;
@tailwind utilities;

.fraunces {
  font-family: "Fraunces", serif;
}

.manrope {
  font-family: "Manrope", sans-serif;
}

.primaryBtnHover:hover {
  box-shadow: inset 0px 0px 0px 2px #44ffa1;
}

.secondaryBtnBorder {
  border-bottom: 3px solid #44ffa1;
}

.heroPhone {
  max-width: 320px;

  position: absolute;
  top: 100%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.circle {
  margin: 0 auto 24px;
  width: 48px;
  height: 48px;

  border: 1px solid black;
  border-radius: 100%;

  display: grid;
  place-items: center;
}
